@charset "UTF-8";
 * {
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
      }
      #board-in {
        justify-content: center;
        justify-items: center;
        width: 1280px;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        margin-top: 20px;
        line-height: 35px;
        padding-left: 0px;
      }

      #title1 {
        display: flex;
        position: relative;
        border-bottom: 1px solid #aaa;
      }
      #board-in img {
        display: inline-block;
        position: relative;
        margin: 0px;
        width: 50px;
        height: 50px;
      }
      #title1 h3 {
        align-items: center;
        padding: 5px;
        margin-top: 15px;
      }
      #nick {
        position: relative;
        text-align: left;
        width: 120px;
      }
      #nick p {
        display: inline-block;
      }
      #title1 ul,
      li {
        display: flex;
      }
      #content {
        margin: 0px auto;
        line-height: 25px;
        color: rgb(59, 59, 59);
        padding: 10px;
        border-bottom: 1px solid #bbb;
      }
      #comment {
        display: flex;
        padding: 10px;
        margin: 10px auto;
      }
      #comment-sub {
        border: 1px solid black;
        width: 100%;
        height: 150px;
        border-radius: 10px;
      }
      #comment-sub input {
        width: 100%;
        height: 85px;
        border-radius: 10px;
        border: 0;
        outline: none;
        text-align: center;
        vertical-align: top;
      }
      #comment-nick {
        margin: 5px 10px;
        border-bottom: 1px solid #bbb;
      }
      #comment-sub button {
        position: absolute;
        display: inline-block;
        background-color: white;
        border: solid 1px #ccc;
        border-radius: 10px;
        width: 70px;
        height: 30px;
        margin-right: 0px;
      }
      #comment-sub button:hover {
        cursor: pointer;
        background-color: rgb(207, 207, 207);
      }
      #btnli {
        margin-top: 17px;
        display: flex;
        align-items: flex-end;
        align-content: flex-end;
        justify-content: end;
      }
      #comment li {
        margin-bottom: 5px;
        border-bottom: 1px solid rgb(184, 184, 184);
      }